.home-banner {
  padding: 0;
  display: block;
  margin: 0 auto;
  width: 100%;
  -webkit-box-shadow: 0px 3px 0px 2px rgba(0, 0, 0, 0.1), 0px 6px 0px 4px rgba(0, 0, 0, 0.1),
    0px 9px 0px 6px rgba(0, 0, 0, 0.1), 0px 12px 0px 8px rgba(0, 0, 0, 0.1), 0px 15px 0px 10px rgba(0, 0, 0, 0.1),
    0px 12px 50px 3px rgba(0, 0, 0, 0);
  box-shadow: 0px 3px 0px 2px rgba(0, 0, 0, 0.1), 0px 6px 0px 4px rgba(0, 0, 0, 0.1), 0px 9px 0px 6px rgba(0, 0, 0, 0.1),
    0px 12px 0px 8px rgba(0, 0, 0, 0.1), 0px 15px 0px 10px rgba(0, 0, 0, 0.1), 0px 12px 50px 3px rgba(0, 0, 0, 0);
}

.home-container {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.main-content {
  width: 80%;
  margin: 0 auto;

  padding: 1.5rem 0;
}

.main-content > h1 {
  font-size: 20px;

  margin-bottom: 1rem;
}

.main-content > article {
  padding: 8px 0;
}

.main-content > article > p > a {
  text-decoration: none;
  color: #5865f2;

  font-weight: bold;
  padding: 0 2px;
}

.home-container > h3 {
  text-align: center;
  padding: 1rem 0;
  margin: 1rem 0;

  font-size: 18px;

  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.official-links-slider {
  overflow: hidden;
  width: 90%;
  margin-left: 5%;
  border-radius: 30px;
}

.official-links-slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.official-links-slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.official-links-slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.official-links-slides::-webkit-scrollbar-track {
  background: transparent;
}

.official-links-slides > a {
  scroll-snap-align: center;
  flex-shrink: 0;
  margin-right: 50px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.official-links-slides > a:last-child {
  margin-right: 0px;
}

.social  {
  border-radius: 30px;
  width: 100%;
}

@media screen and (min-width: 520px) {
  .official-links-slides > a {
    width: auto;
  }
}

@media screen and (min-width: 580px) {
  .main-content > h1 {
    font-size: 24px;
  }

  .home-container > h3 {
    font-size: 24px;
  }
}

@media screen and (min-width: 810px) {
  .main-content {
    width: 70%;
  }

  .main-content > h1 {
    font-size: 40px;
    margin-bottom: 2rem;
  }

  .main-content > article {
    font-size: 22px;
  }

  .home-container > h3 {
    font-size: 2rem;
    padding: 1.5rem 0;
    margin: 1.5rem 0;
  }
}
