@font-face {
  font-family: 'Cu Yuan';
  src: url('../../assets/fonts/FZCu-Yuan-M03.ttf');
}

.tierlist-main-container {
  padding: 1.5rem 0;
}

.tierlist-type-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.tierlist-type-button {
  width: 100%;
  max-width: 10em;
  height: auto;
}

.tierlist-type-button:hover {
  -webkit-filter: drop-shadow(0px 0px 8px rgb(115, 239, 255));
  filter: drop-shadow(0px 0px 8px rgb(115, 239, 255));

  transition: all 0.2s linear 0.1s;
}

.tierlist-grade-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tierlist-hero-box {
  margin: 0.5rem;
}

.tierlist-hero-name-banner {
  width: 8.5em;
  height: 2em;
  margin: 0 0 0;
}

.tierlist-main-container {
  padding: 1.5rem 0;
}

.tierlist-hero-name-container {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 0.5rem;
}
.tierlist-hero-name {
  color: white;
  font-family: 'Cu Yuan';
}

.tierlist-hero-image {
  display: block;
  width: 100%;
  height: 256px;
}
.tierlist-hero-name {
  text-align: center;
  line-height: 10px;
  height: 10px;

  transition: all 0.2s linear 0.1s;
}

.grade {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 0.5em;
}

.tierlist-hero-box:hover .tierlist-hero-image:hover,
.tierlist-hero-box:active .tierlist-hero-image:active {
  -webkit-filter: drop-shadow(0px 0px 8px yellow);
  filter: drop-shadow(0px 0px 8px yellow);

  transition: all 0.2s linear 0.1s;
}

.tierlist-hero-box:hover .tierlist-hero-image {
  transform: translateY(-1rem);
  transition: transform 0.2s linear 0.1s;
}

.tierlist-hero-box:hover:hover .tierlist-hero-name,
.tierlist-hero-box:hover:active .tierlist-hero-name {
  font-weight: bold;
  transform: translateY(-1.25rem);
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .grade {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 0.5em;
  }
}

/* large tablet & laptop styles */
@media screen and (min-width: 810px) {
  .grade {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 0.5em;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  .grade {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 0.5em;
  }
}
