@font-face {
  font-family: 'Cu Yuan';
  src: url('../../assets/fonts/FZCu-Yuan-M03.ttf');
}

/* centering the whole skill page */
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cu Yuan';
  color: var(--text-color-main);

  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.hero-container.divided {
  flex-direction: row;
}

.hero-info-container {
  background-color: var(--color-main-dark-transparent);
  padding: 0.8em;
  -webkit-box-shadow: 0px 2px 15px 5px #00000075;
  box-shadow: 0px 2px 15px 5px #00000075;
  width: 100%;

  margin-bottom: 1rem;
}

.heropage-type-button-container {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.heropage-type-button {
  background-color: transparent;
  display: inline-block;
  padding: 0.5em 1.22em;
  border: 2px solid white;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
  text-align: center;
  transition: all 0.2s;
}

.heropage-type-button:hover {
  color: #000000;
  background-color: white;
  transition: all 0.2s linear 0.1s;
}

.illustration {
  max-width: 100%;
}

/* desktop styles */
@media screen and (min-width: 810px) {
  .illustration {
    max-width: 500px;
    object-fit: cover;
  }

  .hero-info-container {
    max-width: 680px;
  }
}

@media screen and (min-width: 1440px) {
  .illustration {
    max-width: 600px;
    object-fit: cover;
  }

  .hero-info-container {
    max-width: 720px;
  }

  .heropage-type-button {
    font-size: 16px;
  }
}

@media screen and (min-width: 1600px) {
  .illustration {
    max-width: 800px;
    object-fit: cover;
  }

  .hero-info-container {
    max-width: calc(100% - 800px - 10%);
  }
}
