/* ------------------------------------- General Containers ------------------------------------- */

.team-builder-container {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.build-container {
  width: 320px;
  height: fit-content;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
}

.row {
  box-sizing: content-box;
  width: 150px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid green;
}

.row.front {
  gap: 2.5rem 0;
}

.position {
  box-sizing: content-box;
  width: 100%;
  height: 150px;

  cursor: pointer;
  background-size: cover;
  border: 1px solid red;
}

.character-selection-modal {
  position: absolute;
  top: calc(var(--header-height) + 1rem);
  width: 100%;
  height: 50vh;
}

/* ------------------------------------- Builder Overlay ------------------------------------- */

.builder.overlay {
  display: flex;
  align-items: center;
}

.builder-screen {
  width: 90%;
  margin: 0 auto;

  border-radius: 0.5rem;
  background-color: white;
}

.builder-header {
  width: 100%;
  text-align: center;
  margin: 0.75rem 0;
}

.builder-header > h4 {
  color: #222;
  font-size: 1.25rem;
}
/* ---------------------------------------------------- */
.dropdown {
  width: 18.75rem;
  margin: 1.5rem auto;
  color: black;

  position: relative;
}

.dropdown.hero {
  margin-bottom: 0.75rem;
}

.dropdown-select {
  padding: 1.25rem 1.5rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #a3d3ff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  transition: border-radius 0.2s linear;
}

.dropdown.active .dropdown-select {
  border-radius: 0.5rem 0.5rem 0 0;
}

.dropdown-select > .group-container {
  display: flex;
  align-items: center;
}

.dropdown-select > .group-container > img {
  width: 1.5rem;
}

.dropdown-select > .group-container > span {
  margin-left: 1rem;
}

.dropdown-select > i {
  transition: transform 0.2s linear;
}

.dropdown.active .dropdown-select > i {
  transform: rotate(180deg);
}

.dropdown-list {
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: #c3e2ff;
  max-height: 246px;
  border: 1px solid #9eb8cf;
  border-top: none;

  overflow-y: scroll;

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}

.dropdown-list.rune {
  display: none;
  max-height: 225px;
}

.dropdown-list.artifact {
  display: none;
  max-height: 199px;
}

.dropdown-list.divinity {
  max-height: 126px;
  display: none;
}

.dropdown.active .dropdown-list.artifact,
.dropdown.active .dropdown-list.rune,
.dropdown.active .dropdown-list.divinity {
  display: block;
}

.dropdown.active .dropdown-list {
  opacity: 1;
  visibility: visible;
}

.dropdown-list-item {
  padding: 0.75rem 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;

  border-top: 1px solid #9eb8cf;
  display: flex;
  align-items: center;
}

.dropdown-list-item > img {
  width: 1.5rem;
  margin-right: 1rem;
}

/* ---------------------------------------------------- */

.builds-container {
  width: 18.75rem;
  min-height: 300px;
  margin: 0 auto;
  color: black;
}

.builds-container > h5 {
  font-size: 1.125rem;
  text-align: center;

  margin: 1rem 0 1.5rem;
}

.build-category {
  margin-bottom: 1.5rem;
}

.build-category.divinity {
  margin-bottom: 0;
}

.build-category.divinity.active {
  margin-bottom: 1.5rem;
}

.build-dropdown {
  padding: 1.25rem 1.5rem;
  width: 100%;
  border-radius: 0.5rem;

  background-color: #a3d3ff;

  display: flex;
  align-items: center;
  transition: border-radius 0.2s linear;
}

.build-dropdown.active {
  border-radius: 0.5rem 0.5rem 0 0;
  transition: border-radius 0.2s linear;
}

.build-dropdown > span {
  margin-left: 1rem;
}

.build-dropdown > i {
  transition: transform 0.2s linear;
}

.build-dropdown.active > i {
  transform: rotate(90deg);
  transition: transform 0.2s linear;
}

.build-ui {
  width: 100%;
  height: 1px;
  display: none;

  transition: height 0.5s linear;
}

.build-dropdown.active + .build-ui {
  display: block;
}

.build-ui > .dropdown {
  opacity: 0;
  width: 15rem;
}

.build-ui > span {
  display: block;
  width: 15rem;
  margin: 0 auto 1rem;

  font-size: 0.825rem;
  font-weight: 500;
  text-align: center;

  color: hsla(0, 100%, 42%, 0.75);
  animation: 0.5s 1 forwards fadeOut;
  animation-delay: 2.5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.build-dropdown.active + .build-ui > .dropdown {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.build-dropdown.active + .build-ui {
  height: fit-content;
  border: 4px solid #a3d3ff;
  border-radius: 0 0 0.5rem 0.5rem;
  visibility: visible;

  transition: height 0.5s linear;
}

.divinity-slots-container {
  width: 15rem;
  margin: 1.5rem auto;
  opacity: 0;

  display: flex;
  justify-content: space-between;
}

.build-dropdown.active + .build-ui > .divinity-slots-container {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.divinity-slots-container > button {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.divinity-slots-container > button.active > img:nth-child(1) {
  filter: drop-shadow(0 0 5px #8ef8ff) drop-shadow(0 0 5px #8ef8ff)
    drop-shadow(0 0 5px #8ef8ff);
}

.divinity-slots-container > button > img:nth-child(1) {
  width: 4.5rem;
}

.divinity-slots-container > button > img:nth-child(2) {
  width: 3.25rem;
  position: absolute;
  left: 0.625rem;
  top: 0.5rem;
}

.divinity-slots-container > button > .cost-container {
  width: 100%;
  position: absolute;
  top: calc(100% - 10px);

  display: flex;
  justify-content: center;
}

.divinity-slots-container > button > .cost-container > img {
  width: 20px;
}

.divinity-warning {
  display: none;
}

.divinity-warning.active {
  display: block;
}

/* ---------------------------------------------------- */
.builder-screen .buttons-container {
  display: flex;
  justify-content: space-around;
}

.buttons-container > button {
  width: 6.25rem;
  padding: 0.5rem 0;
  border: none;
  border-radius: 0.75rem;
  background-color: #8bc34a;

  font-weight: 700;
  color: white;
  cursor: pointer;
}

.buttons-container > button:nth-child(1) {
  background-color: #d50000;
}

.buttons-container > button:nth-child(1):hover {
  background-color: hsla(0, 100%, 42%, 0.75);
}
/* --------------------------------------------------------------------------------------------------------------------------------- */

.position.Anubis {
  background-image: url('../../assets/hero/shard/Anubis.png');
}

.position.Artemis {
  background-image: url('../../assets/hero/shard/Artemis.png');
}

.position.Athena {
  background-image: url('../../assets/hero/shard/Athena.png');
}

.position.Cassandra {
  background-image: url('../../assets/hero/shard/Cassandra.png');
}

.position.Cleopatra {
  background-image: url('../../assets/hero/shard/Cleopatra.png');
}

.position.Dionysus {
  background-image: url('../../assets/hero/shard/Dionysus.png');
}

.position.Flora {
  background-image: url('../../assets/hero/shard/Flora.png');
}

.position.Gaia {
  background-image: url('../../assets/hero/shard/Gaia.png');
}

.position.Ganjiang__Moye {
  background-image: url('../../assets/hero/shard/Ganjiang_&_Moye.png');
}

.position.Hades {
  background-image: url('../../assets/hero/shard/Hades.png');
}

.position.Hercules {
  background-image: url('../../assets/hero/shard/Hercules.png');
}

.position.Idun {
  background-image: url('../../assets/hero/shard/Idun.png');
}

.position.Iset {
  background-image: url('../../assets/hero/shard/Iset.png');
}

.position.Izanami {
  background-image: url('../../assets/hero/shard/Izanami.png');
}

.position.Joan_of_Arc {
  background-image: url('../../assets/hero/shard/Joan_of_Arc.png');
}

.position.Lilith {
  background-image: url('../../assets/hero/shard/Lilith.png');
}

.position.Lu_Bu {
  background-image: url('../../assets/hero/shard/Lu_Bu.png');
}

.position.Lucifer {
  background-image: url('../../assets/hero/shard/Lucifer.png');
}

.position.Medusa {
  background-image: url('../../assets/hero/shard/Medusa.png');
}

.position.Nagakanya {
  background-image: url('../../assets/hero/shard/Nagakanya.png');
}

.position.Nuwa {
  background-image: url('../../assets/hero/shard/Nuwa.png');
}

.position.Oberon {
  background-image: url('../../assets/hero/shard/Oberon.png');
}

.position.Persephone {
  background-image: url('../../assets/hero/shard/Persephone.png');
}

.position.Susanoo {
  background-image: url('../../assets/hero/shard/Susanoo.png');
}

.position.Tamamo_no_Mae {
  background-image: url('../../assets/hero/shard/Tamamo_no_Mae.png');
}

.position.Thor {
  background-image: url('../../assets/hero/shard/Thor.png');
}

.position.Zeus {
  background-image: url('../../assets/hero/shard/Zeus.png');
}
