/* --------------------- PAGE CONTAINER --------------------- */
.team-builder-container {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  padding: var(--team-builder-padding);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

/* --------------------- CONTENT CONTAINERS --------------------- */
.tooltip-container,
.builder-buttons-container,
.build-container {
  width: calc(100% - (var(--team-builder-padding) * 2));
}

/* --------------------- TOOLTIP CONTAINER --------------------- */
.tooltip-container > .tooltip-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px;

  color: black;
  background-color: white;
  border-radius: 8px;
}

.tooltip-container > .tooltip-header > .wrapper {
  display: flex;
  align-items: center;
}

.tooltip-container > .tooltip-header > .wrapper > h4 {
  margin-left: 8px;
}

.tooltip-container > p {
  display: none;
  padding: 12px;
}

.tooltip-container.active > .tooltip-header {
  border-radius: 8px 8px 0 0;
}

.tooltip-container.active > p {
  display: block;
  border: 2px solid white;
  border-radius: 0 0 8px 8px;
}

/* --------------------- SWITCH AND EXPORT BUTTONS --------------------- */
.builder-buttons-container {
  display: flex;
  justify-content: space-between;
}

.builder-buttons-container > button {
  width: 120px;
  padding: 4px;
  border-radius: 8px;

  color: white;
  background-color: transparent;
  border: 2px solid white;
}

.builder-buttons-container > button:nth-child(2) {
  position: relative;

  color: black;
  background-color: white;

  font-weight: 500;
}

.builder-buttons-container > button:nth-child(2) > .info-popup {
  width: 128px;
  height: 36px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 60%);

  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background-color: var(--color-main);
  border: 2px solid var(--color-success);

  font-weight: bold;
}

.builder-buttons-container > button:nth-child(2) > .info-popup::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 16px 8px;
  border-color: transparent transparent var(--color-success) transparent;
}

/* --------------------- FORMATION GRID --------------------- */
.build-container {
  --cell-width: 150px;
  --cell-spacing: 1rem;
  --border-size: 3px;

  display: flex;
  justify-content: center;
  gap: var(--cell-spacing);
}

.build-container > .row {
  display: flex;
  flex-direction: column;
  gap: var(--cell-spacing);
}

.build-container.reverse > .row.back,
.build-container > .row.front {
  justify-content: center;
}

.build-container > .row > .position {
  width: var(--cell-width);
  height: var(--cell-width);

  border: var(--border-size) solid white;
  border-radius: 50%;

  background-size: cover;

  position: relative;
}

.build-container > .row > .position.active {
  border: none;
}

.build-container > .row > .position.active > img {
  position: absolute;
  top: -4px;
  width: 40px;
  height: 40px;
}

.build-container > .row > .position.active > i {
  position: absolute;
  left: calc(100% - 2rem);

  font-size: 2rem;
  color: var(--color-danger);

  cursor: pointer;
}

.build-container > .row > .position.active > img {
  height: 55px;
  left: 0px;
  top: -10px;
  width: 55px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------- HERO BUILDER MODAL ------------------------------- */
.builder-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  max-height: 95%;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 16px;

  background-color: var(--color-main);

  --dropdown-width: 90%;
}
/* --------------------- BUILDER MODAL HEADER --------------------- */
.builder-screen > h4 {
  margin: 1rem 0;

  font-size: 1.5rem;
  font-weight: 600;
}
/* --------------------- BUILDER MODAL HERO DROPDOWN --------------------- */
.dropdown {
  width: var(--dropdown-width);

  position: relative;
}

.dropdown.hero {
  margin-bottom: 24px;
}

/* Choose -- X --  */
.dropdown > .dropdown-select {
  padding: 1rem 1.5rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 8px;

  cursor: pointer;

  background-color: var(--color-main-medium);

  transition: border-radius 0.2s linear;
}

.dropdown.active .dropdown-select {
  border-radius: 0.5rem 0.5rem 0 0;
}

.dropdown-select > .group-container {
  display: flex;
  align-items: center;
}

.dropdown-select > .group-container > img {
  width: 1.5rem;
}

.dropdown-select > .group-container > span {
  margin-left: 1rem;
}

.dropdown-select > i {
  transition: transform 0.2s linear;
}

.dropdown.active .dropdown-select > i {
  transform: rotate(180deg);
}

/* Dropdown list item container */
.dropdown-list {
  --dropdown-item-size: 48px;
  --dropdown-item-img-size: 32px;

  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--color-main-light);
  max-height: calc(var(--dropdown-item-size) * 4);
  border: 1px solid var(--color-main-accent);
  border-top: none;

  overflow-y: auto;

  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}

.dropdown.active .dropdown-list {
  opacity: 1;
  visibility: visible;
}

.dropdown-list-item {
  height: var(--dropdown-item-size);
  padding: 0 1rem;

  display: flex;
  align-items: center;

  font-size: 0.875rem;
  font-weight: 500;

  border-top: 1px solid var(--color-main-accent);
}

.dropdown-list-item > img {
  width: var(--dropdown-item-img-size);
}

.dropdown-list-item > p,
.dropdown-list-item > span {
  margin-left: 1rem;
}
/* --------------------- BUILDER MODAL HERO BUILDER --------------------- */
.builds-container {
  width: 100%;
}

.builder-screen.active > h5 {
  font-size: 16px;
}

.builder-screen.active > span {
  font-size: 14px;
}

.builder-screen.active > .builds-container {
  height: 50%;
  margin: 1rem 0;
  padding: 1rem 0;

  border-top: 4px solid var(--color-main-accent);
  border-bottom: 4px solid var(--color-main-accent);

  overflow-y: auto;
}

.builder-screen.active > .builds-container > .build-category {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 24px;
}

/* Divinity Build Dropdown */
.build-dropdown {
  padding: 20px 24px;
  width: var(--dropdown-width);

  background-color: var(--color-main-medium);

  border-radius: 8px;

  display: flex;
  align-items: center;
  transition: border-radius 0.2s linear;
}

.build-dropdown.active {
  border-radius: 8px 8px 0 0;
  transition: border-radius 0.2s linear;
}

.build-dropdown > span {
  margin-left: 1rem;
}

.build-dropdown > i {
  transition: transform 0.2s linear;
}

.build-dropdown.active > i {
  transform: rotate(90deg);
  transition: transform 0.2s linear;
}

.build-ui {
  width: var(--dropdown-width);
  height: 1px;
  display: none;

  transition: height 0.5s linear;
}

.build-dropdown.active + .build-ui {
  display: block;
  height: fit-content;
  border: 4px solid var(--color-main-medium);
  border-radius: 0 0 0.5rem 0.5rem;
  visibility: visible;

  transition: height 0.5s linear;
}

/* Click to choose divinities */
.build-ui > h4 {
  width: 15rem;
  margin: 0 auto 0.5rem;
  border-bottom: 2px solid var(--color-main-light);
}

.divinity > .build-ui > h4 {
  font-weight: 400;
  padding: 0.5rem;
  text-align: center;
}

/* Divinity slots */
.divinity-slots-container {
  width: 90%;
  margin: 1.5rem auto;
  opacity: 0;

  display: flex;
  justify-content: space-between;
}

.build-dropdown.active + .build-ui > .divinity-slots-container {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.divinity-slots-container > button {
  --image-border-size: 72px;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.divinity-slots-container > button.active > img:nth-child(1) {
  filter: drop-shadow(0 0 2px #8ef8ff) drop-shadow(0 0 4px #8ef8ff);
}

.divinity-slots-container > button > img:nth-child(1) {
  width: var(--image-border-size);
}

.divinity-slots-container > button > img:nth-child(2) {
  width: calc(var(--image-border-size) * 0.7125);
  position: absolute;
  left: 14%;
  top: 11.5%;
}

.divinity-slots-container > button > .cost-container {
  width: 100%;

  position: absolute;
  top: calc(100% - 12px);

  display: flex;
  justify-content: center;
}

.divinity-slots-container > button > i {
  position: absolute;
  left: calc(100% - 16px);
  z-index: 2;

  font-size: 20px;
  color: var(--color-danger);

  cursor: pointer;
}

.divinity-slots-container > button > .cost-container > img {
  width: 20px;
}

/* Divinity warning text */
.build-ui > span {
  display: block;
  width: 100%;
  margin: 0 auto 1rem;

  font-size: 0.825rem;
  font-weight: 500;
  text-align: center;

  color: hsla(0, 100%, 42%, 0.75);
  animation: 0.5s 1 forwards fadeOut;
  animation-delay: 2.5s;
}

.divinity-warning {
  display: none;
}

.divinity-warning.active {
  display: block;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.build-ui > .dropdown {
  margin: 0 auto 24px;
}

.build-ui > p {
  display: block;
  width: var(--dropdown-width);
  margin: 0 auto 1.5rem;
}

/* Weapon Build Dropdown */
.weapon-builder-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  padding: 1rem;
}

.weapon-builder-header > .level-selector {
  display: flex;
  align-items: center;

  border-left: 3px solid var(--color-main-accent);
  padding-left: 0.5rem;
}

.weapon-builder-header > .level-selector > .level-btn {
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border: 2px solid var(--color-main-accent);
  border-radius: 50%;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.weapon-builder-header > .level-selector > .level-btn.active {
  background-color: var(--color-main-accent);
}

.weapon-builder-header > .level-selector > span {
  margin-left: 0.5rem;
}

.build-ui > .wrapper {
  display: none;
  align-items: center;

  padding: 1rem;
  padding-top: 0;
}

.build-ui > .wrapper.active {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.build-ui > .wrapper > img {
  box-sizing: content-box;
  width: 5rem;

  margin: 0 auto;

  border-radius: 50%;
  border: 3px solid var(--color-main-accent);
}

.build-ui > .wrapper > .bonuses {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.build-ui > .wrapper > .bonuses > p {
  font-size: 14px;
}

.build-ui > .wrapper > .bonuses > p:not(:last-child) {
  border-bottom: 2px solid var(--color-main-accent);
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
}
/* --------------------- BUILDER MODAL BUTTONS --------------------- */
.builder-screen > .buttons-container {
  display: flex;
  justify-content: center;
  gap: 2rem;

  margin-bottom: 24px;
}

.builder-screen > .buttons-container > button {
  width: 100px;
  padding: 6px 0;

  border: none;
  border-radius: 8px;

  color: white;
  font-weight: 500;
}

.builder-screen > .buttons-container > button:nth-child(1) {
  background-color: var(--color-danger);
}

.builder-screen > .buttons-container > button:nth-child(2) {
  background-color: var(--color-success);
}
/* ---------------------  --------------------- */
/* ---------------------  --------------------- */

/* ---------------------------------------------------------------------------------------------------------------------------------- */

/* --------------------- MEDIA QUERIES --------------------- */
@media screen and (min-width: 680px) and (orientation: portrait) {
  .build-container {
    margin-top: calc(
      (100% - calc(var(--cell-width) * 3 + var(--cell-spacing) * 2)) / 2
    );
  }
}

@media screen and (min-width: 350px) {
  .build-container > .row > .position.active > img {
    height: 55px;
    left: -10px;
    top: -10px;
    width: 55px;
  }
}

@media screen and (min-width: 460px) {
  .divinity-slots-container > button {
    --image-border-size: 96px;
  }

  .divinity-slots-container > button > .cost-container > img {
    width: 28px;
  }

  .divinity-slots-container > button > i {
    left: calc(100% - 20px);

    font-size: 24px;
  }

  .build-container > .row > .position.active > img {
    
    height: 55px;
    left: -10px;
    top: -10px;
    width: 55px;
  }
}

@media screen and (min-width: 520px) {
  .build-container {
    --cell-width: 175px;
    --cell-spacing: 1.25rem;
  }

  .dropdown-select > .group-container > img {
    width: 2rem;
  }

  .dropdown-list {
    --dropdown-item-size: 56px;
    --dropdown-item-img-size: 40px;
  }

  .dropdown-list-item {
    padding: 1.5rem;

    font-size: 1rem;
  }

  .build-dropdown.active + .build-ui > .divinity-slots-container {
    justify-content: space-around;
    margin-bottom: 2.5rem;
  }

  .build-container > .row > .position.active > img {
    height: 60px;
    left: -10px;
    top: -10px;
    width: 60px;
  }
}

@media screen and (min-width: 680px) {
  .build-container {
    --cell-width: 200px;
    --cell-spacing: 1.5rem;
  }

  .tooltip-container > .tooltip-header {
    font-size: 22px;
  }

  .builder-buttons-container > button {
    width: 180px;
    padding: 12px;
    border-width: 3px;

    font-size: 1rem;
    font-weight: 600;
  }

  .divinity-slots-container > button {
    --image-border-size: 104px;
  }

  .divinity-slots-container > button > i {
    left: calc(100% - 22px);

    font-size: 28px;
  }

  .divinity-slots-container > button > .cost-container > img {
    width: 28px;
  }

  .build-ui > .wrapper > .bonuses > p {
    font-size: 1rem;
  }

  .build-container > .row > .position.active > i {
    left: calc(100% - 30px);

    font-size: 2.5rem;
  }

  .build-container > .row > .position.active > img {
    height: 70px;
    left: -10px;
    top: -10px;
    width: 70px;
  }
}

@media screen and (min-width: 950px) {
  .build-container {
    --cell-width: 150px;
    --cell-spacing: 1rem;
  }

  .build-ui-desktop {
    --dropdown-width: 360px;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    border-radius: 48px;
    border: 4px solid white;
  }

  .build-ui-desktop.inactive {
    width: 306px !important;
    margin-right: calc((90% - 316px - 300px) / 2);
  }

  .build-ui-desktop > h5,
  .build-ui-desktop > h4 {
    font-size: 1rem;
  }

  .build-ui-desktop > h4 {
    margin-bottom: 24px;
  }

  .build-ui-desktop > span {
    font-size: 15px;
    margin: 12px 0 24px;
  }

  .build-ui-desktop > button {
    padding: 0.75rem 1.5rem;

    font-size: 1rem;
    font-weight: 500;

    border: none;
    border-radius: 8px;

    color: var(--color-main);
    background-color: white;
  }

  .team-builder-container > .wrapper {
    width: calc(100% - var(--team-builder-padding) * 2);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
  }

  .team-builder-container > .wrapper:nth-child(1) {
    flex-direction: row;
    gap: 10%;
  }

  .team-builder-container > .wrapper:nth-child(1) > .tooltip-container {
    width: 316px;
  }

  .builder-buttons-container {
    justify-content: space-around;
    width: calc(90% - 316px);
  }

  .team-builder-container > .wrapper > .build-container {
    width: fit-content;
    margin-top: 0;
  }

  .team-builder-container > .wrapper > .build-ui-desktop {
    width: calc(100% - 150px * 2 - 1rem - 10%);
  }

  .build-ui-desktop > .build-category {
    margin-bottom: 24px;
  }

  .build-ui > .dropdown {
    width: 90%;
  }

  .build-ui > p {
    width: calc(var(--dropdown-width) - 8px);

    margin: 0;
    padding: 1.5rem;
  }
  .build-container > .row > .position.active > img {
    height: 55px;
    left: -10px;
    top: -10px;
    width: 55px;
  }
}

@media screen and (min-width: 1200px) {
  .team-builder-container {
    gap: 60px;
  }

  .build-container {
    --cell-width: 175px;
    --cell-spacing: 2.5rem;
  }

  .build-ui-desktop {
    --dropdown-width: 425px;
  }

  .team-builder-container > .wrapper:nth-child(1) > .tooltip-container {
    width: 390px;
  }

  .builder-buttons-container {
    width: calc(90% - 390px);
  }

  .build-ui-desktop > h5,
  .build-ui-desktop > h4 {
    font-size: 1.25rem;
  }

  .build-ui-desktop > span {
    font-size: 16px;
  }
  .build-container > .row > .position.active > img {
    height: 60px;
    left: -10px;
    top: -10px;
    width: 60px;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */

/* --------------------- FORMATION HERO ICONS --------------------- */
.position.Anubis {
  background-image: url('../../assets/hero/builder-hero-icons/Anubis.png');
}

.position.Archimedes {
  background-image: url('../../assets/hero/builder-hero-icons/Archimedes.png');
}

.position.Artemis {
  background-image: url('../../assets/hero/builder-hero-icons/Artemis.png');
}

.position.Artemis {
  background-image: url('../../assets/hero/builder-hero-icons/Artemis.png');
}

.position.Athena {
  background-image: url('../../assets/hero/builder-hero-icons/Athena.png');
}

.position.Cassandra {
  background-image: url('../../assets/hero/builder-hero-icons/Cassandra.png');
}

.position.Cleopatra {
  background-image: url('../../assets/hero/builder-hero-icons/Cleopatra.png');
}

.position.Dionysus {
  background-image: url('../../assets/hero/builder-hero-icons/Dionysus.png');
}

.position.Flora {
  background-image: url('../../assets/hero/builder-hero-icons/Flora.png');
}

.position.Gaia {
  background-image: url('../../assets/hero/builder-hero-icons/Gaia.png');
}

.position.Ganjiang.Moye {
  background-image: url('../../assets/hero/builder-hero-icons/Ganjiang_&_Moye.png');
}

.position.Hades {
  background-image: url('../../assets/hero/builder-hero-icons/Hades.png');
}

.position.Hercules {
  background-image: url('../../assets/hero/builder-hero-icons/Hercules.png');
}

.position.Hela {
  background-image: url('../../assets/hero/builder-hero-icons/Hela.png');
}

.position.Idun {
  background-image: url('../../assets/hero/builder-hero-icons/Idun.png');
}

.position.Iset {
  background-image: url('../../assets/hero/builder-hero-icons/Iset.png');
}

.position.Izanami {
  background-image: url('../../assets/hero/builder-hero-icons/Izanami.png');
}

.position.Joan.of.Arc {
  background-image: url('../../assets/hero/builder-hero-icons/Joan_of_Arc.png');
}

.position.Lilith {
  background-image: url('../../assets/hero/builder-hero-icons/Lilith.png');
}

.position.Lu.Bu {
  background-image: url('../../assets/hero/builder-hero-icons/Lu_Bu.png');
}

.position.Lucifer {
  background-image: url('../../assets/hero/builder-hero-icons/Lucifer.png');
}

.position.Medusa {
  background-image: url('../../assets/hero/builder-hero-icons/Medusa.png');
}

.position.Nagakanya {
  background-image: url('../../assets/hero/builder-hero-icons/Nagakanya.png');
}

.position.Nuwa {
  background-image: url('../../assets/hero/builder-hero-icons/Nuwa.png');
}

.position.Oberon {
  background-image: url('../../assets/hero/builder-hero-icons/Oberon.png');
}

.position.Persephone {
  background-image: url('../../assets/hero/builder-hero-icons/Persephone.png');
}

.position.Susanoo {
  background-image: url('../../assets/hero/builder-hero-icons/Susanoo.png');
}

.position.Tamamo.no.Mae {
  background-image: url('../../assets/hero/builder-hero-icons/Tamamo_no_Mae.png');
}

.position.Thor {
  background-image: url('../../assets/hero/builder-hero-icons/Thor.png');
}

.position.Typhon {
  background-image: url('../../assets/hero/builder-hero-icons/Typhon.png');
}

.position.Zeus {
  background-image: url('../../assets/hero/builder-hero-icons/Zeus.png');
}
