.skill .skill-info {
    width: 100%;
  }
  
  .hero-skill-icon {
    width: 25%;
  }

  .hero-skill-icon:hover, .hero-skill-icon:active, .hero-skill-icon:focus {
    filter: drop-shadow(0px 0px 5px #00eeff);
  }

  .skill-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid yellow;
  }

  .skill .skill-info .first-level {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid yellow;
  }
  
  /* Skill description first level highlights */
  .first-level .highlight {
    color: greenyellow;
  }
  
  .first-level .highlight-status {
    color: orange;
  }
  
  .first-level .highlight-warning {
    color: darkorange;
  }
  
  .first-level .highlight-true-damage {
    color: rgb(160, 107, 41);
  }