:root {
  --color-main: #222;
  --color-main-dark: rgba(17, 17, 17, 0.75);
  --color-main-dark-transparent: rgba(17, 17, 17, 0.5);
  --color-main-medium: #444;
  --color-main-light: #555;
  --color-main-accent: #777;

  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;

  --header-height: 5rem;
  --footer-height: 10rem;

  --team-builder-padding: 5%;

  --text-color-main: rgb(228, 228, 228);
}

header {
  background-color: var(--color-main-dark);
  width: 100%;
  min-height: var(--header-height);
}

.topbar {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.logo {
  padding-top: 0px;
  display: block;
  width: 7rem;
  max-height: 100%;
  max-width: 100%;
  padding: 0 0.75rem;
}

.navbar {
  display: none;
}

.navbar > a,
.topbar > a {
  position: relative;
  
  color: white;
  text-decoration: none;
  text-align: center;
}

.page-button {
  transition: font-weight 0.2s linear, filter 0.2s linear;
}

.page-button:hover {
  font-weight: 600;
  filter: drop-shadow(0px 0px 2px rgb(123, 158, 253)) drop-shadow(0px 0px 5px rgb(123, 158, 253));
}

.support-server {
  display: flex;
  justify-content: space-between;
  justify-items: center;

  align-content: center;
  align-items: center;
}

.navbar > a:last-child {
  display: flex;
}

.navbar > a:last-child > .join {
  position: relative;
  width: 1px;
  height: calc(1.8em + 24px);

  opacity: 0;
  background-color: #5865F2;
  
  border-radius: 8px 0 0 8px;

  text-align: end;
}

.navbar > a:last-child > .join > p {
  line-height: 64px;
  opacity: 0;
  visibility: hidden;
  transition: width 0.5s linear;
}

.navbar > a:last-child:hover > .join {
  transform-origin: right center;
  width: 160px;
  display: block;
  opacity: 1;
  transition: width 0.25s linear;
}

.navbar > a:last-child:hover > .join > p {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.25s linear, visibility 0.25s linear;
  transition-delay: 0.25s;
}

.discord-support-server-icon {
  box-sizing: content-box;
  width: 1.8em;
  padding: 12px;

  position: relative;

  background-color: #5865F2;

  border-radius: 8px;
}

.navbar > a:last-child:hover > .discord-support-server-icon {
  border-radius: 0 8px 8px 0;
}

.hamburger-menu {
  height: calc(var(--header-height) / 2);
  width: calc(var(--header-height) / 2);

  padding: 8px 0 0 8px;
  margin-right: 1rem;
}

.bar-1,
.bar-2,
.bar-3 {
  width: 80%;
  height: 10%;

  background-color: white;
  transition: 0.4s;
}



.bar-1,
.bar-2 {
  margin-bottom: 20%;
}

.hamburger-menu.active .bar-1 {
  transform-origin: top left;
  transform: rotate(45deg) translate(5px, -5px);
}

.hamburger-menu.active .bar-2 {
  opacity: 0;
}

.hamburger-menu.active .bar-3 {
  transform-origin: bottom left;
  transform: rotate(-45deg) translate(5px, 3px);
}

.nav-drawer {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height 2s ease-out;
  background-color: var(--color-main-dark-transparent);
}

.nav-drawer.active {
  overflow: hidden;
  max-height: 500px;
  transition: max-height 3s ease-out;
}

.nav-drawer > a {
  display: flex;
  padding-left: 1em;
  padding-top: 0.4em;
  font-size: 1.25rem;
  color: white;
  margin-bottom: 0.5rem;
  border-top:    1px solid  rgb(54, 54, 48);
}

footer {
  height: var(--footer-height);
  width: 100%;
  padding: 2rem;
  background-color: var(--color-main-dark);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .disclaimer {
  margin-bottom: 1rem;
}

.error-page {
  width: 100%;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

input.copy-url {
  display: none;
}

@media screen and (max-width: 619px) {
  .topbar {
    background-color: var(--color-main-dark);
  }
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .nav-drawer > a {
    font-size: 1.35rem;
    margin-bottom: 0.75rem;
  }
  .topbar {
    background-color: var(--color-main-dark); 
  }
}

/* large tablet & laptop styles */
@media screen and (min-width: 810px) {
  body {
    background: url('/public/assets/Background/BG2.png') no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .hamburger-menu {
    display: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.25rem;
  }

  header {
    background-color: #101010;
    width: 100%;
    min-height: var(--header-height);
  }

}

/* desktop styles */
@media screen and (min-width: 1080px) {
  .logo {
    width: 9rem;
  }

  .navbar {
    font-size: 24px;
  }

  .navbar > a:last-child:hover > .join {
    width: 186px;
  }

  .navbar > a:last-child:hover > .join > p {
    line-height: 70px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background: url('/public/assets/Background/BG1.png') no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .navbar {
    gap: 32px;
    font-size: 1.5rem;
  }
}
