/* ===== Scrollbar CSS =====
/* Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: #8ac6ff #222222;
} */

/* Chrome, Edge, and Safari */
/* *::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #222222;
}

*::-webkit-scrollbar-thumb {
  background-color: #8ac6ff;
  border-radius: 6px;
  border: 0px none #ffffff;
}

.wrapper * {
  scrollbar-color: #8ac6ff white;
} */

/* Chrome, Edge, and Safari */
/* .wrapper *::-webkit-scrollbar {
  width: 12px;
} */

/* .wrapper *::-webkit-scrollbar-track {
  background: white;
} */

/* .wrapper *::-webkit-scrollbar-thumb {
  background-color: #8ac6ff;
  border-radius: 6px;
  border: 0px none #ffffff;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  background: url(/public/assets/Background/BG3.png) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.modal-open {
  overflow-y: hidden;
}

input,
textarea,
button {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#root {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
