@font-face {
  font-family: 'Cu Yuan';
  src: url('../../assets/fonts/FZCu-Yuan-M03.ttf');
}

.hero-list-container {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.hero-list {
  box-sizing: content-box;
  min-width: 350px;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem 0;
  height: fit-content;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem 1.5rem;
}

.hero-list .hero-link {
  min-width: 128px;
  max-width: 128px;
  text-decoration: none;
  height: calc(256px + 1rem + 5px);
}

.hero-list .hero-link:active {
  color: white;
}

.hero-list .hero-link:hover .img-shadow-container.UR,
.hero-list .hero-link:active .img-shadow-container.UR {
  -webkit-filter: drop-shadow(0px 0px 4px #4dd8f1) drop-shadow(-4px 1px 4px #afd4f0) drop-shadow(-2px 0px 4px #af9bd3)
    drop-shadow(3px -1px 4px#8b63bb) drop-shadow(3px 2px 4px#86a5df);
  filter: drop-shadow(0px 0px 4px rgb(77, 216, 241, 0.75)) drop-shadow(-4px 1px 4px rgb(175, 212, 240, 0.75))
    drop-shadow(-2px 0px 4px rgb(175, 155, 211, 0.75)) drop-shadow(3px -1px 4px rgb(139, 99, 187, 0.75))
    drop-shadow(3px 2px 4px rgb(134, 165, 223, 0.75));

  transition: filter 0.5s ease-out;
}

.hero-list .hero-link:hover .img-shadow-container.SSR,
.hero-list .hero-link:active .img-shadow-container.SSR {
  -webkit-filter: drop-shadow(0px 0px 8px yellow);
  filter: drop-shadow(0px 0px 8px yellow);

  transition: filter 0.5s ease-out;
}

.hero-link img {
  width: 100%;
  height: 256px;
  transition: transform 0.2s linear 0.1s;
}

.hero-list .hero-link:hover img {
  transform: translateY(-1rem);
}

.hero-name {
  display: block;
  width: 100%;
  font-family: 'Cu Yuan';
  color: var(--text-color-main);
  text-align: center;

  cursor: default;

  transition: all 0.2s linear 0.1s;
}

.hero-link:hover .hero-name,
.hero-link:active .hero-name {
  font-weight: bold;
  font-size: 1.125rem;
  transform: translateY(-1.25rem);
}

.rarity-line {
  min-width: 272px;
  width: 80%;
  max-width: 544px;

  margin: 0 10%;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .rarity-line {
    margin: 0 calc((100% - 544px) / 2);
  }
}
