.filters-container {
  --filter-container-height: 2.5rem;

  width: 60%;
  min-width: 350px;
  margin: 1rem auto;
  height: var(--filter-container-height);
  padding: 0 3.25rem;

  display: flex;
  justify-content: space-between;
}

.rarity-filters,
.faction-filters,
.role-filters {
  height: 100%;
  width: fit-content;
}

.filter {
  cursor: pointer;
}

.filter.active {
  border-bottom: 2px solid yellow !important;
}

.filter:not(:last-child) {
  margin-right: 0.5rem;
}

.rarity-filters .filter,
.faction-filters .filter,
.role-filters .filter {
  background-size: cover;

  border: none;
  background-color: transparent;
}

.faction-filters .filter,
.role-filters .filter {
  height: 100%;
  width: var(--filter-container-height);
}

.rarity-filters .filter {
  height: 80%;
  transform: translateY(10%);
}

.rarity-filters .ur {
  width: calc(var(--filter-container-height) * 1.71875 * 0.8); /* 1,71875 */
  background-image: url('../../assets/rarity-icons/Rarity_UR.png');
}

.rarity-filters .ur.active {
  filter: drop-shadow(0px 0px 7px #95b0e9);
}

.rarity-filters .ssr {
  width: calc(var(--filter-container-height) * 2.34375 * 0.8); /* 2,34375 */
  background-image: url('../../assets/rarity-icons/Rarity_SSR.png');
}

.rarity-filters .ssr.active {
  filter: drop-shadow(0px 0px 7px #edd69c);
}

.faction-filters .luminarch {
  background-image: url('../../assets/faction-icons/Luminarch.png');
}

.faction-filters .luminarch.active {
  filter: drop-shadow(0px 0px 7px #fdfc98);
}

.faction-filters .shadowarch {
  background-image: url('../../assets/faction-icons/Shadowarch.png');
}

.faction-filters .shadowarch.active {
  filter: drop-shadow(0px 0px 7px #db4132);
}

.faction-filters .guardian {
  background-image: url('../../assets/faction-icons/Guardian.png');
}

.faction-filters .guardian.active {
  filter: drop-shadow(0px 0px 7px #97cafd);
}

.faction-filters .verdian {
  background-image: url('../../assets/faction-icons/Verdian.png');
}

.faction-filters .verdian.active {
  filter: drop-shadow(0px 0px 7px #c0f572);
}

.role-filters .mage {
  background-image: url('../../assets/role-icons/Mage.png');
}

.role-filters .mage.active {
  filter: drop-shadow(0px 0px 7px #9639aa);
}

.role-filters .fighter {
  background-image: url('../../assets/role-icons/Fighter.png');
}

.role-filters .fighter.active {
  filter: drop-shadow(0px 0px 7px #9f2e25);
}

.role-filters .tank {
  background-image: url('../../assets/role-icons/Tank.png');
}

.role-filters .tank.active {
  filter: drop-shadow(0px 0px 7px #fdfc76);
}

.role-filters .support {
  background-image: url('../../assets/role-icons/Support.png');
}

.role-filters .support.active {
  filter: drop-shadow(0px 0px 7px #c9d45c);
}
