.filters-container {
  box-sizing: content-box;

  min-width: 272px;
  width: 60%;
  max-width: 1000px;
  height: fit-content;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.rarity-filters,
.faction-filters,
.role-filters {
  height: 2.5rem;
  width: fit-content;
}

.rarity-filters {
  display: flex;
  align-items: center;
  height: 2rem;
}

.rarity-filters,
.role-filters {
  margin-bottom: 1rem;
}

.filter {
  cursor: pointer;
}

.filter.active {
  filter: drop-shadow(0px 0px 4px #83c1ff) drop-shadow(0px 0px 4px #83c1ff)
    drop-shadow(0px 0px 2px #83c1ff);
}

.filter:not(:last-child) {
  margin-right: 0.5rem;
}

.rarity-filters .filter,
.faction-filters .filter,
.role-filters .filter {
  width: 2.5rem;
  height: 100%;
  background-size: cover;

  border: none;
  background-color: transparent;
}

.rarity-filters .ur {
  width: calc(2rem * 1.71875); /* 1,71875 value to keep the aspect ratio */
  background-image: url('../../assets/rarity-icons/Rarity_UR.png');
}

.rarity-filters .ur.active {
  filter: drop-shadow(0px 0px 4px #95b0e9) drop-shadow(0px 0px 2px #95b0e9);
}

.rarity-filters .ssr {
  width: calc(2rem * 2.34375); /* 2,34375 value to keep the aspect ratio */
  background-image: url('../../assets/rarity-icons/Rarity_SSR.png');
}

.rarity-filters .ssr.active {
  filter: drop-shadow(0px 0px 4px #edd69c) drop-shadow(0px 0px 2px #edd69c);
}

.faction-filters .luminarch {
  background-image: url('../../assets/faction-icons/Luminarch.png');
}

.faction-filters .shadowarch {
  background-image: url('../../assets/faction-icons/Shadowarch.png');
}

.faction-filters .guardian {
  background-image: url('../../assets/faction-icons/Guardian.png');
}

.faction-filters .verdian {
  background-image: url('../../assets/faction-icons/Verdian.png');
}

.role-filters .mage {
  background-image: url('../../assets/role-icons/Mage.png');
}

.role-filters .fighter {
  background-image: url('../../assets/role-icons/Fighter.png');
}

.role-filters .tank {
  background-image: url('../../assets/role-icons/Tank.png');
}

.role-filters .support {
  background-image: url('../../assets/role-icons/Support.png');
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .filters-container {
    box-sizing: content-box;
    width: 80%;

    flex-direction: row;
  }

  .rarity-filters,
  .faction-filters,
  .role-filters {
    height: 2.25rem;
  }

  .rarity-filters,
  .role-filters {
    margin-bottom: 0;
  }

  .faction-filters .filter,
  .role-filters .filter {
    width: 2.25rem;
  }

  .rarity-filters .filter {
    height: 1.75rem;
  }

  .rarity-filters .ur {
    width: calc(1.75rem * 1.71875); /* 1,71875 value to keep the aspect ratio */
  }

  .rarity-filters .ssr {
    width: calc(1.75rem * 2.34375); /* 2,34375 value to keep the aspect ratio */
  }
}

/* large tablet & laptop styles */
@media screen and (min-width: 810px) {
  .rarity-filters,
  .faction-filters,
  .role-filters {
    height: 2.5rem;
  }

  .rarity-filters,
  .role-filters {
    margin-bottom: 0;
  }

  .faction-filters .filter,
  .role-filters .filter {
    width: 2.5rem;
  }

  .rarity-filters .filter {
    height: 2rem;
  }

  .rarity-filters .ur {
    width: calc(2rem * 1.71875); /* 1,71875 value to keep the aspect ratio */
  }

  .rarity-filters .ssr {
    width: calc(2rem * 2.34375); /* 2,34375 value to keep the aspect ratio */
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  .rarity-filters,
  .faction-filters,
  .role-filters {
    height: 3rem;
  }

  .rarity-filters,
  .role-filters {
    margin-bottom: 0;
  }

  .faction-filters .filter,
  .role-filters .filter {
    width: 3rem;
  }

  .rarity-filters .filter {
    height: 2.5rem;
  }

  .rarity-filters .ur {
    width: calc(2.5rem * 1.71875); /* 1,71875 value to keep the aspect ratio */
  }

  .rarity-filters .ssr {
    width: calc(2.5rem * 2.34375); /* 2,34375 value to keep the aspect ratio */
  }
}
